.container{
    margin-top: 100px !important;
    width: 80%;
    margin: auto;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    display: none;
}

.createPost{
    cursor: pointer;
    display: flex;
    justify-content: center;
}


@media only screen and (max-width: 768px) {
    .container{
        width: 450px;
    }
}